.col-notesub-title #note_title {
  color: var(--gray-secondary-title);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#btn-cross:hover {
  color: var(--green);
}
.read-only {
  border: none !important;
}

.read-only:focus {
  border: none !important;
  box-shadow: none !important;
}

#edit-note:hover {
  color: var(--green) !important;
}
