.row-search-component {
	margin: 0.5rem !important;
	margin-top: 2rem !important;
	width: 100%;
}

.ant-select-selection-placeholder {
	padding: 1rem !important;
	display: flex;
	align-items: center;
}
.search-component div span input {
	padding: 1rem !important;
	display: flex;
	align-items: center;
}

.search-component div {
	color: white !important;
	padding: auto 1rem !important;
	background-color: #404040 !important;
	height: 36px !important;
	border: none !important;
	border-top-left-radius: 36px !important;
	border-bottom-left-radius: 36px !important;
}

.search-component div:focus,
.search-component div:active {
	border-color: #000000 !important;
	outline: none !important;
	box-shadow: none !important;
}

.ant-select-selector {
	box-shadow: none !important;
}

#search-button {
	background-color: var(--green);
	border: none;
	height: 36px;
	width: 40px;
	border-top-left-radius: 0px;
	border-top-right-radius: 36px;
	border-bottom-right-radius: 36px;
	border-bottom-left-radius: 0px;
}

#search-button:hover {
	background-color: var(--dark-green);
}

#search-button:focus {
	border-color: var(--green);
	box-shadow: 0 0 0 2px rgb(6 20 2 / 9%);
}

#search-button:disabled {
	color: rgba(255, 255, 255, 0.623);
}
