#last_note_title {
  color: var(--gray-secondary-title);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0%;
}

#note_content {
  padding: 0 !important;
}

#note_content.note-content {
  padding: 1 !important;
}

#last_note_content {
  color: var(--gray-secondary-content);
  font-size: 0.9rem;
  padding: 0;
}

#last_note_title,
#last_note_content:focus {
  outline: 0;
}

.save-note {
  width: 5rem !important;
}

.col-flex-right {
  justify-content: flex-end !important;
  margin-right: 1rem !important;
  height: 2.5rem;
}

.row-lastnote-top {
  height: 40px;
}
