.container-content {
	min-height: 100vh;
	/* background-color: yellow !important; */
	/* max-width: 1200px; */
	margin: auto 1.5rem;
}

.row-listnotes {
	/* min-height: 30vh; */
	/* background-color: rgb(255, 0, 200) !important; */
	position: relative;
	top: -6rem;
}

.col-listnotes {
	width: 100%;
	background-color: white !important;
	border-radius: 8px;
	margin: 1rem 0.5rem;
	padding: 1rem;
	box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
	z-index: 2;
}

.row-scratchpad-add {
	/* background-color: rgb(17, 0, 255) !important; */
	position: relative;
	top: -6rem;
}

.col-addnote {
	width: 100%;
}
.col-scratchpad {
	width: 100%;
}

@media (max-width: 1200px) {
	.col-scratchpad:nth-child(3) {
		margin-top: 1rem;
	}
}

@media (max-width: 992px) {
	.col-scratchpad {
		margin-top: 1rem;
	}
}
