.container-content {
  margin: auto 1.5rem;
}

@media (max-width: 767px) {
  .container-content {
    margin: auto 0.5rem;
  }
}

.row-listnotes {
  position: relative;
  top: -6rem;
  margin-left: 0.5rem !important;
  margin-right: 9px !important;
}

.col-listnotes {
  width: 100%;
  background-color: white !important;
  border-radius: 3px;
  margin: 1rem 0.5rem;
  padding: 1rem;
  padding-top: 0rem;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  z-index: 2;
}

@media (max-width: 767px) {
  .col-listnotes {
    margin: 3rem 0;
  }
}

.row-scratchpad-add {
  position: relative;
  top: -6rem;
}

.col-addnote {
  width: 100%;
}
.col-scratchpad {
  width: 100%;
}

.col-addnote .ant-skeleton span,
.col-scratchpad .ant-skeleton span,
.col-addnote .ant-skeleton,
.col-scratchpad .ant-skeleton {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
  min-height: 360px !important;
}

@media (max-width: 1200px) {
  .col-scratchpad:nth-child(3) {
    margin-top: 1rem;
  }
}

@media (max-width: 992px) {
  .col-scratchpad {
    margin-top: 1rem;
  }
  .row-listnotes {
    margin: auto !important;
    display: flex;
    justify-content: center;
  }
}

.react-joyride__tooltip {
  border-radius: 8px !important;
}

.react-joyride__tooltip:nth-child(1) {
  padding-top: 2rem !important;
}

.react-joyride__tooltip div div {
  font-size: 14px !important;
}
.react-joyride__tooltip div button:nth-child(3),
.react-joyride__tooltip div button:nth-child(2) {
  font-size: 14px !important;
  background-color: var(--green) !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  border-radius: 6px !important;
}

.react-joyride__tooltip div button:nth-child(3):hover,
.react-joyride__tooltip div button:nth-child(2):hover {
  background-color: var(--dark-green) !important;
}
