.navbar {
  background-color: #1a1a1a;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-drawer .ant-drawer-content-wrapper .ant-drawer-content {
  background-color: #1a1a1a;
}

@media screen and (max-width: 992px) {
  .css-dev-only-do-not-override-zl9ks2.ant-drawer .ant-drawer-content {
    background-color: #1a1a1a;
  }
}

.container-drawer div div .ant-drawer-header-no-title button span svg {
  color: white !important;
}
.navbar .ant-btn-primary {
  background-color: var(--green);
  border: var(--green);
}

.menu-slider {
  background-color: transparent !important;
}

.menu-slider .ant-menu-item-selected {
  background-color: #404040 !important;
  border-radius: 3px !important;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
