.navbar {
	background-color: #1a1a1a;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.container-drawer .ant-drawer-content-wrapper .ant-drawer-content {
	background-color: #1a1a1a;
}

.container-drawer div div .ant-drawer-header-no-title button span svg {
	color: var(--green) !important;
}
.navbar .ant-btn-primary {
	background-color: var(--green);
	border: var(--green);
}

@media (min-width: 992px) {
	.menu {
		display: none;
	}
}
