:root {
  --green: #00a82d;
  --dark-green: #007620;
  --search-input-text: #ccc;
  --secondary-button: #737373;
  --special-transparent: hsla(0, 0%, 65.1%, 0.2);
  --gray-secondary-title: #333;
  --gray-secondary-content: #737373;
  --gray-secondary-content-lighter: #949494;
  --home-primary-text: #333;
  --gray-title: #f8f8f8;
}

.ant-layout-content div {
  padding: 24;
  min-height: 360;
}

.div-content {
  padding: 0rem 0rem 1rem 2rem;
}

.ant-switch-checked {
  background-color: var(--green);
}

#completed.ant-switch-checked {
  background-color: var(--green) !important;
}

.ant-spin-dot-item {
  background-color: var(--green);
}

.ant-input:hover {
  border-color: var(--gray-secondary-content-lighter);
}
.ant-input:focus {
  border-color: var(--gray-secondary-content);
  box-shadow: 0 0 0 2px rgb(6 20 2 / 9%);
}

.ant-btn-link {
  color: var(--green);
}
.ant-btn-link:hover {
  color: var(--dark-green);
}

#email:focus,
#password:focus,
#confirm_password:focus,
#first_name:focus,
#last_name:focus {
  border-color: #000000;
  box-shadow: 0 0 0 2px rgb(6 20 2 / 9%);
}

#email:hover,
#password:hover,
#confirm_password:hover,
#first_name:hover,
#last_name:hover {
  border-color: #000000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 992px) {
  .div-content {
    padding: 0rem;
  }
}
